[Desktop Entry]
Name=Ada
Comment=Installer & control panel for Ada CLI
Exec=qmlscene %u qml/Main.qml
Icon=assets/logo.png
Terminal=false
Type=Application
X-Lomiri-Touch=true
