[Desktop Entry]
Name=Briglia
Comment=Installer & control panel for Briglia CLI
Exec=qmlscene %u qml/Main.qml
Icon=assets/logo.png
Terminal=false
Type=Application
X-Lomiri-Touch=true
